@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colour-bg: #f2f3f4;
  --colour-text-primary: #243849;
  --colour-text-secondary: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-bg: #14161b;
    --colour-text-primary: #fff;
    --colour-text-secondary: #fff;
  }
}

body {
  color: var(--colour-text-primary);
  background: var(--colour-bg);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s ease-in-out;
}

.masthead {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
}

@layer utilities {
  .link {
    @apply underline;
    @apply underline-offset-[5px];
    @apply decoration-1;
    @apply hover:decoration-2;
  }
}
