$background:              #F2F3F4;
$brandPrimary:            #243849;

$wrapperText:             #FFFFFF;

$textPrimary:             #243849;

$breakpointSmall:           400px;
$breakpointMedium:          600px;
$breakpointLarge:           1000px;