@import '_reset';
@import '_variables';
@import '_typography';

@import 'components/index';
@import 'layouts/index';

body {
    background: $background;
    display: flex;
    flex: 1;
    min-height: 100vh;
}

#__nuxt,
#__layout {
    display: flex;
    flex: 1;
}

.Content {
    max-width: 960px;
    padding: 30px;

    @media all and (min-width: 400px) {
        padding: 40px;
    }

    @media all and (min-width: 650px) {
        padding: 80px 60px;
    }
}
